[core]
	excludesfile = /Users/adam/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[user]
	name = adam wong
	email = adamwong246@gmail.com
[credential]
	helper = osxkeychain
[color]
	branch = auto
	diff = auto
	status = auto
	[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
	[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red
	new = cyan
	[color "status"]
	added = green
	changed = yellow
	untracked = red
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
