[core]
	excludesfile = /Users/adam/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[user]
	name = adam wong
	email = adamwong246@gmail.com
[credential]
	helper = osxkeychain
[diff]
	tool = /usr/bin/sdiff
