mixin RGB_comp(name, hex)
 key= name + " Color"
 dict
  key Blue Component
  real= (parseInt(hex, 16) & 255)/255
  key Green Component
  real= ((parseInt(hex, 16) >> 8) & 255)/255
  key Red Component
  real= ((parseInt(hex, 16) >> 16) & 255)/255

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

plist(version='1.0')
 dict
  + RGB_comp("Ansi 0", base03)   // black
  + RGB_comp("Ansi 1", red)      // red
  + RGB_comp("Ansi 2", green)    // green
  + RGB_comp("Ansi 3", yellow)   // yellow
  + RGB_comp("Ansi 4", blue)     // blue
  + RGB_comp("Ansi 5", magenta)  // magenta
  + RGB_comp("Ansi 6", cyan)     // cyan
  + RGB_comp("Ansi 7", base3)    // white

  + RGB_comp("Ansi 8", base03)   // bright black
  + RGB_comp("Ansi 9", red)      // bright red
  + RGB_comp("Ansi 10", green)   // bright green
  + RGB_comp("Ansi 11", yellow)  // bright yellow
  + RGB_comp("Ansi 12", blue)    // bright blue
  + RGB_comp("Ansi 13", magenta) // bright magenta
  + RGB_comp("Ansi 14", cyan)    // bright cyan
  + RGB_comp("Ansi 15", base3)   // bright white

  + RGB_comp("Background", base03)
  + RGB_comp("Bold", green)
  + RGB_comp("Cursor", cyan)
  + RGB_comp("Cursor Text", blue)
  + RGB_comp("Foreground", base1)
  + RGB_comp("Selected Text", base2)
  + RGB_comp("Selection", red)
